DEBUG=True
SECRET_KEY=django-insecure-1c#x_+k$dr0b*dv@ue%sv*g&@!+tjonik29t9vtd_87g9&2^ga

ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=littlelemon
DB_USER=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306